@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Raleway:400,300,500,600");

.inline-block {
    display:inline-block;
    vertical-align: top;
}
.logo {
    padding: 1%;
    text-align: center;
}
.logo img {
    float: left;
}
header {
    clear: both;
    overflow: auto;
}
header ul {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: var(--font-family-raleway);
}
nav {
    width: 73%;
    padding: 1%;
    float: right;
}
ul {
    width: 50%;
    margin-left: auto;
}
.heroImg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0 auto;
}
footer {
    background-color: #373738;
    padding: 1%;
}
footer ul {
    display: inline-block;
    vertical-align: top;
}
footer li {
    text-align: center;
}